#### Book_1 | Python | AppliedAI

In [5]:
import keyword ## include <stdio.h>
print(keyword.kwlist) 
print("\nTotal number of Keywords: ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Total number of Keywords:  35

identifiers - cannot start a variable name with digits/number, can't use special symbols in idnetifiers/variables

12abc = x  ## is invalid

In [7]:
## multiline statement
a = 1 +2 +3 +4 +5\
    +6+6+5+6\
    +4+4

print(a)

46

In [1]:
## Multiple Variable assignments - 
a, b ,c = 'a', 'b', 10

In [2]:
print(c)

10

In [3]:
a = b = c = 10

In [4]:
print(b)

10

In [11]:
x = 11

print(id(x)) ## Address/ Memory location of the variable x

4560053696

In [10]:
y = 11
print(id(y))

4560053696

#### Data Types - 
- Every value in python has a datatype. Since everything is an object in Python Programming. Data Types are actually classesand variables are instances(objects) of these classes

In [16]:
print(isinstance(1+2j, complex)) # isinstance is a function to check the data type 
print(type(1+2j)) # prints out the datatype

True
<class 'complex'>

#### Python Strings
- String is a sequence of UNICODE characters.
- We can use single quote or the double quote to represent strings in python.
- Multiline strings can be denoted by triplq quotes '''xyz''' or """xyz"""
- A string in python consists of a series or sequence of characters - letters, number and special characters.
- Strings can be indexed- often synonymously called subscripted as well.
- Similar to C, the first character of a string has the index 0.

In [17]:
s = "This"
print(s)

This

In [19]:
s[0] # index

'T'

In [20]:
# Negative indexing
s[-1]

's'

In [24]:
s[1:] # slicing

'his'

#### Python Lists
- List is an ordered sequence items. It is the most used datatype and is very flexible.
- All the items in a lists don't need to be of same data type

In [27]:
a = [10,20.5,'Hello'] # square brackets for the lists
print(a[1])

20.5

In [29]:
# Lists are mutable (can modify), the values can be altered in Lists
a[1] = 30
print(a)

[10, 30, 'Hello']

#### Python Tuple
- Tuple is  ordered sequence of items same as list. 
- The only difference is tuple are immutable i.e Tuples once created cannot be modified

In [34]:
t = (1, 2, 3, 'ml')  # tuple - brackets
print(t)

(1, 2, 3, 'ml')

In [35]:
# t[2] = 33 shows error

#### Python Sets 
- Set is an unordered collection of unique items
- Set is defined by values seperated by comma inside curly braces {}.
- items are unordered

In [36]:
a = {30, 30, 30, 30}

In [37]:
print(type(a))

<class 'set'>

In [40]:
print(a) # only stores unique values just like mathematics sets

{30}

 a[1] ## sets doesn't support indexing as it is unordered, which means you cannot access a particular element in sets

#### Python Dictionary
- Dictionary is an unordered collection of key : value pairs
- Defined with curly braces {}

In [46]:
d = {'a' : 'apple', 'b': 'bat'}
print(d['a'])

apple

In [52]:
user = 'Satish'
lines = 100

print("Congratulations, " + user + "! for writing " + str(lines) + " of code")  ## converts the integer into string

Congratulations, Satish! for writing 100 of code

In [56]:
#### Type Conversion
a = [1,2,3] # List
print(type(a))
s = set(a)
print(s)
print(type(s)) # covnerted into set

<class 'list'>
{1, 2, 3}
<class 'set'>

In [58]:
list('Hello') # converts strings to list by breaking each character

['H', 'e', 'l', 'l', 'o']

#### Output Formatting

In [64]:
a = 10
b = 20

print(" The Value of a is {} and b is {} ".format(a,b))

 The Value of a is 10 and b is 20

In [65]:
print("The value of b{1} and a {0}".format(a,b))

The value of b20 and a 10

In [68]:
print("hello {name}, {greeting}".format(name = 'Satish', greeting = 'Goodevening!'))

hello Satish, Goodevening!

In [70]:
print("The story of {0}, {1} and {other}".format('amish', 'son', other = 'Rane'))

The story of amish, son and Rane

#### Python Input

In [71]:
num = input("Enter a number")
print(num)

Enter a number20
20

In [73]:
15%2 #gives the remainder of the division

1

In [74]:
15/2

7.5

In [77]:
15//2 ##floor division close to integer

7

In [78]:
-15//2

-8

In [79]:
2**4 # exponent

16

In [81]:
a += 10 ## a = a+ 10
print(a)

30

#### Identity operators
- is , is not

In [85]:
a = 5
b = 5

print(a is b)
print(a is not b)

True
False

#### Membership operator 
- in,  not in

In [86]:
lst = [1 , 2 , 3 , 4]
print( 1 in lst)

True

In [88]:
d = {1: 'a', 2: 'b'}
print(1 in d) # only works in the keys for dictionary

True

#### While loop 
- The while loop is used to iterate over a block of code as long as condition is true.

In [92]:
for i in range(1,20 , 3):
    print(i)

1
4
7
10
13
16
19

In [97]:
lst = ['a', 'b', 'c', 'd', 'e']

for i in range(len(lst)):
    print(lst[i])

a
b
c
d
e

In [99]:
for i in lst:
    print(i)

a
b
c
d
e